@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Titillium+Web:wght@300;400;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #E9ECEF - white bg
#1A1F40 - dark bg
#282E54 - semi dark bg
#242850 - components bg
#adb5bd - gray text */

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot1,
.dot2,
.dot3 {
    width: 15px;
    height: 15px;
    border: double;
    border-color: white;
    border-radius: 50%;
    margin: 10px;
}

.dot1 {
    animation: jump765 1.6s -0.32s linear infinite;
    background: #2495ff;
}

.dot2 {
    animation: jump765 1.6s -0.16s linear infinite;
    background: #2495ff;
}

.dot3 {
    animation: jump765 1.6s linear infinite;
    background: #2495ff;
}

@keyframes jump765 {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
}
